# Add this line near the top of /etc/pam.d/sudo after testing SSH FIDO login.
# This makes sudo ask for the registered FIDO key touch as well.
auth required pam_u2f.so authfile=/etc/security/u2f_keys cue origin=pam://vip-gece.site appid=pam://vip-gece.site
